# Prefix key
#set -g prefix M-f
set -g prefix M-m

# Status bar
set -g status-bg black
set -g status-fg red
set -g status-interval 60
set-window-option -g window-status-current-style "fg=white"

set-option -g history-limit 20000

bind-key M-m last-window
set -s escape-time 0

# Pane moving
bind-key -n M-h select-pane -L
bind-key -n M-j select-pane -D
bind-key -n M-k select-pane -U
bind-key -n M-l select-pane -R

bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi y send-keys -X copy-selection-and-cancel
bind-key -T copy-mode-vi space command-prompt -p "(search down)" "send -X search-forward \"%%%\""

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-urlview'
set -g @plugin 'fcsonline/tmux-thumbs'
run-shell ~/.tmux/plugins/tmux-thumbs/tmux-thumbs.tmux
run -b '~/.tmux/plugins/tpm/tpm'

bind-key -n C-g thumbs-pick
set -g @thumbs-reverse enabled
set -g @thumbs-unique enabled
set -g @thumbs-command 'tmux set-buffer -- {} && tmux paste-buffer'
set -g @thumbs-upcase-command 'tmux set-buffer -- {} && tmux display-message \"Copied {}\"'
set -g @thumbs-hint-fg-color blue

{{ if eq .chezmoi.hostname "crown" "rebound" -}}
set -g status-right '#[fg=red]#(/home/{{- .chezmoi.username -}}/local/bin/tmuxstatus)'
{{- end }}
